@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
}

body {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgb(41, 30, 64);
}

nav {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
    /*background: rgb(47, 32, 80);*/
}

nav .left {

    display: flex;
    align-items: center;
}

nav .left h1 {

    padding: 0 1em;
    font-size: 2rem;
    color: #c2bbe7;
    font-family: "Titillium Web", serif;
    transition: 0.3s ease-in-out;
}

nav .left h1:hover { color: white; }

nav .right {

    display: flex;
    justify-content: center;
    align-items: center;
}

nav .right a {

    margin: 0 2rem;
    color: #c2bbe7;
    font-family: "Titillium Web", serif;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    font-size: clamp(25px, 2vh, 200px);

}

nav .right a:hover { color: white; }

.home {

    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: clamp(15px, 3vh, 200px);
    color: whitesmoke;
}

.container {

    margin-top: -6rem;
    display: flex;
    justify-content: center;
}
.card {

    margin: 1rem;
}

.card img {

    border-radius: 15px;
    height: 44vh;
}

.card h1 {

    text-align: center;
    font-size: clamp(15px, 2.6vh, 200px);
}

ul {

    margin-top: 10vh;
}

li {

    display: flex;

    margin: 2rem;
    padding: 1rem;

    background-color: #4a3e65;
    border-radius: 15px;
    box-shadow: -10px 10px 30px rgba(0,0,0,0.1);

    font-family: "Titillium Web", sans-serif;
    font-size: clamp(5px, 1.5vh, 100px);
    color: aliceblue;

    transition: 0.2s linear;

}


li .movie-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li .movie-name {

    text-align: left;
    font-size: clamp(15px, 2.5vh, 150px);
    color: greenyellow;
    font-weight: bolder;
    margin-bottom: 0.5rem;
}


li:not(.collapsable-element) {
    width: 30vw;
}

li:hover {

    transform: scale(1.05);
}

li .left {

    border-radius: 15px;
    height: 20vh;
    margin-right: 1rem;
}

details summary {
    list-style: inside none;
}

.collapse {
    margin-top: 0.5rem;
    border-radius: 0.8rem;
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.25);
    background-color: #5c4e7a;
    transition: box-shadow 250ms;
    will-change: box-shadow;
    overflow: hidden;

}

.collapse:hover {
    box-shadow: 0.1rem 0.1rem 1.8rem rgba(0, 0, 0, 0.25);
}

.collapse .title {
    font-family: "Titillium Web", sans-serif;
    font-size: clamp(10px, 2vh, 200px);
    color: aliceblue;
    position: relative;
    padding: .5rem 1rem;
    font-weight: 700;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.collapse .title::after {
    content: "↓";
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}

.collapse[open] .title::after {
    content: "⬆";
}

.collapse .description {
    color: black;
    margin: 0;
    font-size: 1.4rem;
}
.collapse .description:not(:first-of-type) {
    padding-top: 0;
}

.collapse li {

    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    margin: 0.5rem;
}



.add {

    position: fixed;
    bottom: 2rem;
    right: 4rem;

    padding: 1rem;
    background-color: #4a3e65;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 15px;

    justify-self: flex-end;
    font-family: "Titillium Web", sans-serif;
    font-weight: bolder;
    font-size: clamp(15px, 4vh, 200px);
    color: aliceblue;

    transition: 0.2s linear;
}

.add:hover {

    background-color: #76ce76;

}

form {

    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input {

    height: 30px;
    padding: 10px 10px;
    margin: 1rem;
    border-radius: 10px;

    background: rgba(0, 0, 0, 0.25);
    color: white;
    border: none;

    outline: none;
}

button {

    text-align: center;
    font-size: clamp(0.8rem, 1vw, 3rem);
    font-family: "Titillium Web", sans-serif;
    font-weight: bolder;
    color: whitesmoke;
    padding: 0.5rem;
    background-color: rgb(55, 149, 55);
    width: clamp(10rem, 15%, 30rem);
    border-radius: 20px;

    border: none;
    transition: 0.2s linear;
}

button:hover {

    background-color: rgb(98, 206, 98);
}

.success-notif {

    font-size: clamp(0.8rem, 1vw, 3rem);
    font-family: "Titillium Web", sans-serif;
    color: rgb(55, 149, 55);
    opacity: 0;

    animation: success-notif 3s;
}

@keyframes success-notif {

    0% {
        opacity: 0;
    }

    20% {
        opacity: 100%;
    }

    80% {
        opacity: 100%;
    }

    100% {
        opacity: 0;
    }
}

body::-webkit-scrollbar {
    width: 1.6rem;
}
body::-webkit-scrollbar-thumb {
    border: 0.4rem solid #0000;
    border-radius: 99em;
    background-color: #c3c2c4;
    background-clip: content-box;
}
body::-webkit-scrollbar-thumb:hover {
    background-color: #a2a1a3;
}